*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Achievements[[:space:]]&[[:space:]]Recognition/image-1.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Achievements[[:space:]]&[[:space:]]Recognition/image-2.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Achievements[[:space:]]&[[:space:]]Recognition/image.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/Air3550[[:space:]]Design[[:space:]]Document/Aspose.Words.1665e3cb-0081-46c1-be06-a9f270e0986d.011.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/Air3550[[:space:]]Design[[:space:]]Document/Aspose.Words.1665e3cb-0081-46c1-be06-a9f270e0986d.012.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/Air3550[[:space:]]Design[[:space:]]Document.docx filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/Air3550[[:space:]]Project[[:space:]]Requirement.docx filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/Final[[:space:]]Report[[:space:]]Assessment.docx filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/image-2.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/image-3.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/image-5.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/image-7.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/image-9.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/image.png filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/OfficialTranscript.pdf filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/Poster.pdf filter=lfs diff=lfs merge=lfs -text
Knowledge_Base/Extra/Resume.pdf filter=lfs diff=lfs merge=lfs -text
vector_db/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
